<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <script src="https://kit.fontawesome.com/2845e942c1.js" crossorigin="anonymous"></script>
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles_login.css">
</head>
<body>
    <header>
        <nav class="top-navbar">
            <div class="flex-busqueda">
                <div class = "logo">
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="logo de la empresa"></a>
                </div>
            </div>
            <div class="copy-container">
                <h2 class="copy-header"><i class="fa-solid fa-hand-holding-dollar" style="color: #000666;"></i>
                    Comprá en cuotas sin tarjeta de crédito
                </h2>
            </div>
        </nav>
        <nav class = "nav-bar">
            <ul>
                <li><a href="/ofertas" target="_blank">Ofertas</a></li>
                <li><a href="/tiendas_oficiales" target="_blank">Tiendas oficiales</a></li>
                <li><a href="/vender" target="_blank">Vender</a></li>
                <li><a href="/ayuda" target="_blank">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/crea_tu_cuenta">Creá tu cuenta <i class="fa-regular fa-id-card" style="color: #000666;"></i></a></li>
                <li><a href="/ingresa">Ingresá <i class="fa-solid fa-right-to-bracket" style="color: #000666;"></i></a></li>
                <li><a href="/mis_compras" target="_blank">Mis compras <i class="fa-solid fa-basket-shopping" style="color: #000666;"></i></a></li>
            </ul>
        </nav>
        <div class="burger-container">
            <a href = "#" class="burger-menu">
                <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
            </a>
        </div>
    </header>
    <!-- MAIN -->
    <main>
        <form action="/login" method="post">
            <section class="main-login-section">
                <h3>Iniciar Sesión</h3>
                <div class="field">
                    <label for="user"><input type="text" name="user" placeholder="Usuario" minlength="3" oninvalid="this.setCustomValidity('*El usuario ingresado no es válido. Debe contener al menos 3 caracteres.')"></label>
                </div>
                <div class="field">
                    <label for="password"><input type="password" name="password" placeholder="Contraseña" required minlength="3" oninvalid="this.setCustomValidity('*La contraseña ingresada no es válida. Debe contener al menos 3 caracteres.')"></label>
                </div>
                <div class="btn-send">
                    <button type="submit">Enviar</button>
                </div>
            </section>
        </form>
    </main>
    <footer>
        <section>
            <article class ="footer-prop">
                <i class="fa-solid fa-credit-card"></i>
                <b>Pagá con tarjeta o efectivo</b>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class ="footer-prop">
                <i class="fa-solid fa-gift"></i>
                <b>Envío gratis desde $ 2.500</b>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
                </article>
            <article class ="footer-prop">
                <i class="fa-solid fa-user-shield"></i>
                <b>Seguridad, de principio a fin</b>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </article>
        </section>
        <div id = "copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </div>
    </footer>
</body>
</html>