/*#######Colores########
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

/*
#######Cortes#######
Tablet: 361px
Desktop: 769 px
*/head
* {
    box-sizing: border-box;
    margin-bottom: 0px; /*Sino queda espacio entre el body y el final*/
}
/* BODY */

body {
    background-color: #ebebeb;
    font-family: roboto;
    font-size: 12px;
    margin : 0px;
    padding: 0px;
    max-width: 100%;
    height: 100%;
}

/* HEADER */
header {
    background-color: #EAC926;
    width: 100vw;
    padding: 16px;
    position: fixed;
    top: 0px;
    max-height: 164px;
    z-index: 10;
    /* height: 140px;
    max-height: 184px; */
     /*De Juan!*/
}

/* Copy header (compra en cuotas) */
.top-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 100vw;
}
.copy-header {
    font-weight: 400;
    text-align: left;
    /* text-align: center;*/ /*Lo aplica en el video pero no queda bien*/
}
/* nav bar */
.nav-bar {  /* No se debe ver en mobile*/
    display: none; 
}

/* LOGO */
.logo {
    width: 13.5em;
}
/* .logo img {
    max-width: 90%;
} */
.barra-busqueda {
    padding-left: 8px;
    height: 5vh;
    max-width: 248px;
    display: none;
}
input[type="search"] {
    height: 80%;
    border-radius: 4px;
    border: 0px solid white;
    width: 88%;
    min-width: 212px;
    margin-left: 0px;
}
input[type="search"]::placeholder {
    padding: 0px 0px 0px 2px;
}
input[type="search"]:focus {
    outline : none;
}

button[type="submit"] {
    height: 2.1em;
    width: 2.1em;
    display: flex;
    margin-left: 4px;
    justify-content: center;
    align-items: center;
}
button[type="submit"]:hover {
    cursor: pointer;
}
.fa-magnifying-glass {
    background-color: #ebebeb;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;

}

/* ULS adentro del nav bar */
.nav-bar > ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}
.nav-bar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
}

/* Burger Menu */
.burger-container {
    height: 48px;
}
.burger-menu {
    display: block;
    margin: auto auto 0px auto;
    width: 3.2em;
    text-align: center;
    background-color: #1259c3;
    border-radius: 10%;
}
.fa-bars {
    width: 100%;
    font-size: 2em;
    /* padding-left: 0.25em; */ /*No hace falta, porque ya lo arregle con text-align: center en el container padre*/
    padding: 0.2em 0em;
}
/* Banner */
.banner {
    display: block;
    top: 188px;
    width:100vw;
    margin-top: 169px;
    margin-bottom: 0px;
}
.banner img {
    width: 100%;
    display: block; /* ARREGLA LO DE EL GAP ENTRE LA IMAGEN Y EL MAIN*/
}

/* MAIN */
main {
    margin-bottom: 25px;
    width: 90vw;
    margin: 80px auto;
/* Se puede combinar nros con auto */
}
.ofertas, .ultima-visita {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-right: 0px;
    
}

h3 {
    line-height: 1;
    font-size: 2em;
    text-align: center;
    margin-bottom: 16px;
}

/* PRODUCTO */
.producto {
    border-top: solid #ebebeb 1px;
    background-color: white;
    margin-right: 0px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    max-width: fit-content;
    max-height: fit-content;
    /* max-width: 360px;
    max-height: 485px; */
    /*margin: 10px 0px 10px 0px; /*Pide 10px en el mergen inferior*/
}
.producto img {
    margin: auto;
    max-width: 90%;
    background-color: white;
}
.producto div {
    margin-left: 0;
    text-align: left; /* Este sirve, pero deberia usar justify content??*/
    padding: 15px 0px;
}

.producto b {
    visibility: hidden; /* Version mobile no se ve*/
    text-align: left;
    padding-left: 10px;
    font-weight: 400;
    color: #666;
    transition: visibility 250ms;
}
.producto:hover b {
    visibility: visible;
}
.producto:hover {
    cursor: pointer;
}
.img-producto {
    border-bottom: #ebebeb solid 2px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
/* PRECIO, DESCUENTO Y DESCRIPCION */
.product-desc {
    position: relative;
}
.product-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0px;
    
}
.product-items p {
    display: inline;
    padding-left: 8px;
}
.precio {
    font-size: 18px;
    flex: 30%; /* DIFERENCIA ENTRE FLEX Y WIDTH???*/
}
.descuento {
    font-size: 16px;
    color:#39b54a;
    flex: 70%;
    text-align: left;
    /* margin-left: 10px; */
}

/* Camion */
.truck {
    position: absolute;
    top: -16%; /*Para que cruce la linea de arriba*/ 
    right: 15px;
    /* display: block; */
    border: 1px solid #39b54a;
    border-radius: 50%;
    width: 3em;
    height: 0.6em; /* Sino queda un elipse :( */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9; /*Sino queda arriba del header*/
    transition: transform 450ms;
}
.truck:hover {
    transform: rotate(-90deg);
}
.truck i {
    color: #39b54a;
    font-size: 18px;
}


.descripcion {
    font-size: 16px;
}

/* FOOTER */

footer {
    background-color: white;
    padding-top: 25px;
    width: 100%;
    margin: 80px auto 0px auto;
    padding: 16px 0px 0px 0px;
    position: relative;
    bottom: -16px;
}
footer section{
    width: 80%;
    margin: auto;
}
article { /*NO ES RESPONSIVE ASI*/
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}
article p, b{
    text-align: center;
}
article .fa-solid {
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    transition: all 450ms;
    color: #1259c3;
}

footer .fa-solid:hover {
    color: #33c9ff;
    cursor: pointer;
}


article > i{
    font-size: 2em;
}
#copyright {
    text-align: center;
}

/* Media Queries */

/* @media (min-width: 361px) {
    .producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .producto b {
        display: block;
    } ##########LO DEJO ASI PORQUE ME PARECE INNECESARIO UN MIN-WIDTH TAN CHICO
} */

@media (min-width: 576px) {
    .producto {
        max-width: 48%;
        transition: box-shadow 250ms;
    }
    .producto:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    /* .producto b {
        display: block;
    } */

}

/* Tablet */
@media (min-width: 768px) {
    .flex-busqueda {
        justify-content: flex-start;
        max-width: 412px;
        /* width: fit-content; */
    }
    .burger-container {
        display: none;
    }
    .nav-bar {
        display: block;
    }
    .copy-container {
        max-width: 44%;
        /* text-align: left; */
        /* font-size: 10px; */
    }
    /* Top navbar */

    .top-navbar {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        flex-wrap: wrap;
        flex-direction: row;
        /* flex-direction: column; */
        align-items: flex-start;
        gap: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }
    .logo {
        width: 12.8em;
    }
    .copy-header {
        margin-right: 1em;
        text-align: left;
    }
    /* NavBar */
    .barra-busqueda {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 5vh;
        width: 252px;
    }
    .nav-bar {
        display: flex;
        justify-content: space-between;
        /* margin: auto; */
        padding-right: 1em;
    }
    .nav-bar ul {
        display: flex;
        justify-content: space-between;
    }
    .nav-bar li {
        margin: 0.5em;
    }
    .banner {
        margin-top: 112px;
    }
    .producto {
        max-width: 31%;
    }
    h2 {
        font-size: 17px;
    }
}
/* Desktop */
@media (min-width: 1200px) {
    .nav-bar, .top-navbar {
        max-width: 1200px;
        margin: auto;
    }
    /* .copy-header {
        max-width: none;
    } */
    .producto {
        max-width: 23.5%;
    }
    /* Para que el logo y la barra entren con "compra con tarjeta..." */
    .top-navbar {
        flex-direction: row;
        /* align-items: flex-start; */
        justify-content: space-between;

    }
    .copy-container {
        font-size: 12px;
    }
    .flex-busqueda {
        width: 60%;
    }
    /* Footer */
    footer > section {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
}